.example-container {
  position: fixed;
  top: 9%;
  left: 0;
  background-color: #1f2029;
   
  height: 100%;
  
  
}

.example-sidenav {
  background-color: #1f2029;
  
  
}

.section {
  margin-top: 5vh;
}

button{
  background-color: transparent;
  border: none;
  color: #fff;
}

.example-sidenav {
  width: 30vh;
}



