<div class="chat">
 
  <div  class="messages">
    @for (message of chatService.messages(); track message) {
      <div class="d-flex gap-1">
        <div class="username">{{message.username}}:</div> 
        <div class="message">{{ message.content }}</div>
      </div>
    }
  </div>
  <div class="absolute d-flex flex-column gap-3 ">
    <input [(ngModel)]="messageContent" placeholder="Type your message here..." class="align-self-center" />
    <button (click)="sendMessage()" class="align-self-end">Chat</button>
  </div>
</div>