section{
  color: white;
  padding-top: 5rem;
  margin-left: 3rem;
  margin-right: 1rem;
}
h6 {
  font-family: "Audiowide", sans-serif; /* Remplacez par la police de votre choix */
  color: #dc3533;
}