@if (products.length > 0) {
  <div class="big-product-container ">
    <button class="prev-button" (click)="prevProduct()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></button>
    <app-big-product-card class="d-flex align-items-center justify-content-center " [product]="products[selectedProduct]" ></app-big-product-card>
    <button class="next-button" (click)="nextProduct()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></button>
  </div>
}
