.big-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



.prev-button, .next-button {
  position: absolute;
  top: 50%;
  
}

.prev-button {
  left: 10%;
}

.next-button {
  right: 10%;
}

button {
  background-color: #141414;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

button:hover{
  scale: 1.1;
  transition: 0.2s;
}
