
video{
  border-radius: 1vh;
}

.card {
  width: 40vh;
  height: 40vh;
  border: none;
  background-color: #151515;
  border-radius: 1vh;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.95);
}
.langage {
  border: none;
  background-color: #202976;
  color: #fff;
  border-radius: 1vh;
}
.langage:hover {
  background-color: #313fb7;
}

.langage {
  font-size: 1vh;
}

h6{
  color: white;
}

p{
  color: white;
}


