<div class="modal" [ngClass]="{'show': isVisible}" (click)="onClose($event)">
  <div class="modal-content" (click)="preventClose($event)">
    
    

    <form [formGroup]="signupForm" (ngSubmit)="onRegisterSubmit()" class=" d-flex flex-column align-items-center gap-4 ">
      <h5 class="text-center">S'enregistrer</h5>
      <div class="input d-flex flex-column">
        <label for="username">Nom d'utilisateur</label>
        <input id="username" formControlName="username" type="text" placeholder="Nom d'utilisateur" />
      </div>
      <div class="input d-flex flex-column">
        <label for="password">Mot de passe</label>
        <input id="password" formControlName="password" type="password" placeholder="Mot de passe" />
      </div>
      
      <button type="submit" class="btn btn-violet">S'inscrire</button>
    </form>

  </div>
</div>

<div class="modal" [ngClass]="{'show': isSecondModalVisible}" (click)="onCloseSecondModal($event)">
  <div class="modal-content" (click)="preventClose($event)">
   
    
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class=" d-flex flex-column align-items-center gap-4 ">
      <h5>Se connecter</h5>
      <div class="input d-flex flex-column">
        <label for="login-username">Nom d'utilisateur</label>
        <input id="login-username" formControlName="username" type="text" placeholder="Nom d'utilisateur" />
      </div>
      <div class="input d-flex flex-column">
        <label for="login-password">Mot de passe</label>
        <input id="login-password" formControlName="password" type="password" placeholder="Mot de passe" />
      </div>
      <button type="submit" class="btn btn-violet">Se connecter</button>
    </form>
  </div>
</div>

<div class="login-buttons d-flex gap-2">
  <button class=" register " (click)="openFirstModal()">S'enregistrer</button>
  <button class=" login " (click)="openSecondModal()">Connexion</button>
</div>