* {
  font-family: "Audiowide", sans-serif;
}

.title {
  font-size: 3vh;
  padding: 2vh;
}

#categories:hover {
  color: #9718c2 !important;
}

.btn-menu {
  border: none;
  background-color: transparent;
  color: white;
}

.navbar {
  background-color: #252631;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: height 0.3s ease;
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }
}

.menu, .search, .profile {
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  width: 60%;
  max-width: 400px; // Ajouter une largeur maximale
}

#input {
  border: none;
  border-radius: 1vh 0 0 1vh;
  padding: 1vh;
  margin: 0; 
  background-color: #1f2029;
  color: #c0baba;
  width: 100%; // Utiliser toute la largeur disponible
}

.btn-search {
  border: none;
  background-color: #1f2029;
  border-radius: 0 1vh 1vh 0;
  padding: 1vh;
  margin: 0; 
  display: flex;
  align-items: center; 
  color: #ddd5d5;
}

.search:hover {
  #input, .btn-search {
    border: 1px solid #c0baba;
  }
}

.feather-user {
  color: #c0baba;
}

.open {
  background-color: #252631;
  border: none;
  color: #c0baba;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.dropdown-menu {
  background-color: #252631 !important;
}

.bouton-menu {
  color: #dedee0 !important;
}

.profile-image {
  width: 2vw;
  height: 2vw;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .menu, .profile {
    width: auto;
  }

  .search {
    width: 50%;
  }

  #input {
    width: 100%;
  }
}
