



*{
  font-family: "Audiowide", sans-serif;
}

section {
  margin-left: 2%;
  overflow-y: hidden;
}

img {
  width: 20%;
  
  
}

#top-categories {
  color: #4a075f;
}




p {
  color: white;
  font-size: 3vh;
}

p:hover {
  color: red;
}

