<div class="card">
  <div class="card-body d-flex justify-content-between">
   <!-- Button trigger modal -->
<button type="button" class=" openElement" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Recherche rapide
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column">
        <div class="navigation-buttons d-flex justify-content-around mb-3">
          <button class="btn btn-top" (click)="scrollRight()">Langage</button>
          <button class="btn btn-top" (click)="scrollLeft()">Framework</button>
        </div>
        @if (showContent) {
        <div class="content"  [@scrollAnimation]>
          <ul class="list1 list-unstyled text-center" >
            <li>C</li>
            <li>C++</li>
            <li>C#</li>
            <li>Java</li>
            <li>Python</li>
            <li>JavaScript</li>
          </ul>
        </div>
        }
        @if (!showContent) {
        <div class="content" [@scrollAnimation]>
          <ul class="list1 list-unstyled text-center" >
          <li>Spring</li>
          <li>Angular</li>
          <li>React</li>
          <li>Vue</li>
          </ul>
        </div>
        }
      </div>
    </div>
  </div>
</div>
   

    <button class="abonner btn ">S'abonner</button>
  </div>
</div>