video {

  height: auto;
  width: 90%;
  
  border: red 1px solid;
}

.local-video {
  width: 85%;
  max-width: 85%;
  
  
  
}


.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  
  
  
}
