section{
  padding-top: 5rem;
  margin-left: 3rem;
  margin-right: 1rem;
}


.bouton {
  width: 28vh;
  height: 10vh;
  border-radius: 2vh;
  background-color: #3b48d4;
  color: #dedee0;
  
}

.bouton:hover {
  background-color: #7c86f4;
}

.texte {
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-content{
  background-color: #1e1f28;
  border-radius: 2vh;
}

.parametre{
  background-color: #1e1f28;
  border-radius: 2vh;
  padding: 2vh;
}

input {
  border-radius: 2vh;
  border: none;
  background-color: #252631;
  padding: 1vh;
  color:#dedee0; 
}


