<section>


<div class="all d-flex gap-3">

<div class="parametre">
  <button type="button" class="bouton  " data-bs-toggle="modal" data-bs-target="#Modal">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
  </button>

  
  
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabe" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <app-upload-card (productCreated)="onAddProduct()"></app-upload-card>
        </div>
      </div>
    </div>
  </div>  

  <p class="search mt-3" for="search">Recherche:</p>
  <input type="search">
  

</div>



<div class="vod-list ">
<app-card-user-list [products]="products"></app-card-user-list>
</div>

</div>
    
    
      
  
 
       
     
    
    
 
  

</section>
 