section{
  padding-top: 5rem;
  margin-left: 3rem;
  margin-right: 1rem;
}


.bouton {
  width: 100%;
}

.texte {
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-content{
  background-color: rgb(31, 31, 31);
  border-radius: 1vh;
}