<div class="carte d-flex gap-2">
  
  <div class=" card">
    <div class="jeu">
      <img src="/img/game.jpeg" alt="" width="300">
    </div>
    <div class=" card-body text-center" routerLink="/jeux">
      <a>Jeux vidéo</a>
    </div>
    </div>
  


  <div class=" card">
    <div class="web">
      <img src="/img/web.jpeg" alt="" width="300">
    </div>
    <div class="card-body text-center" routerLink="/web">
      <p>Web</p>
    </div>
  </div>
  <div class=" card">
    <div class="logiciel">
      <img src="/img/logi.jpeg" alt="" width="300">
    </div>
    <div class="card-body text-center" routerLink="/logiciel">
      <p>Logiciel</p>
    </div>
  </div>
  <div class=" card">
    <div class="smartphone">
      <img src="/img/phone.jpeg" alt="" width="300">
    </div>
      <div class="card-body text-center" routerLink="/smartphone">
      <p>Smartphone</p>
    </div>
  </div>
  <div class=" card">
    <div class="securite">
      <img src="/img/cyberlong.png" alt="" width="300">
    </div>
    <div class="card-body text-center" routerLink="/securite">
      <p>Sécurité</p> 
    </div>
  </div>
</div>
