.carte {
  background-color: rgb(31, 31, 31);
  border-radius: 1vh;
}

video {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.btn {
  width: 50%;
}

.modal-content {
  background-color: rgb(31, 31, 31);
  border-radius: 1vh;
}



