.carte {
  background-color: #1e1f28;
  border-radius: 1vh;
  position: relative;
}

video {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 1vh;
}

.btn {
  width: 50%;
}

.modal-content {
  background-color: #1e1f28;
  border-radius: 1vh;
}

.boutons {
  position: absolute;
  bottom: 0;
  width: 68.5%;
  
  
}

.bouton {
  color: #dedee0;
}

.bouton:hover {
  background-color: #252631;
  border-radius: 1vh;
}



